/* Add black background color to top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    padding: 22px 16px;
}

/* Change standard body word size */
body {
    font-size: 20px;
    Color: #616161;
    font-family: 'Montserrat', sans-serif;
}

/* Change color of h1 */
h1 a {
    color: black;
    line-height: 1.5;
}

/* Change properties of hover over h1 */
h1 a:hover {
    color: black;
    text-decoration: none;
}

/* Style paragraph */
p {
    line-height: 1.2;
}

/* Style p link */
p a {
    color: #616161;
    text-decoration: underline;
}

/* Style p a:hover */
p a:hover {
    color: #616161;
    text-decoration: underline;
}

/* Style h3 */
h3 {
    color: black;
}

/* Style h4 */
h4 {
    color: black;
}

/* Style section */
.section {
    color: black;
    background-color: #aaaaaa;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
    font-size: 60px;
}

/* Style button */
button {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    margin: 3px;
    font-size: 0.95rem;
    font-weight: 600;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

/* Style button on hover */
button:hover {
    background-color: #c1c1c1;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

/* Style alternate buttons */
.purple {
    background-color: #C3B1E1;
}

/* Style notes */
.note1 {
    margin-bottom: 15px;
    padding: 25px 15px;
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
}

.note2 {
    margin-bottom: 15px;
    padding: 25px 15px;
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
}

.note3 {
    margin-bottom: 15px;
    padding: 25px 15px;
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
}

.note4 {
    margin-bottom: 15px;
    padding: 25px 15px;
    background-color: #ddffdd;
    border-left: 6px solid #04AA6D;
}

/* Style img height and width */
img {
    width:350px;
    height:250px;
    padding: 10px 0px;
}